{% extends "layouts/base.html" %}

{% block title %} Dashboard {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}      

      <div>

        <h2>Shelf view</h2>

        <div style="overflow: auto; white-space: nowrap;">
          <img src="/static/assets/img/cleaner_products/frame_01.png" width="20%">
          <img src="/static/assets/img/cleaner_products/frame_02.png" width="20%">
          <img src="/static/assets/img/cleaner_products/frame_03.png" width="20%">
          <img src="/static/assets/img/cleaner_products/frame_04.png" width="20%">
          <img src="/static/assets/img/cleaner_products/frame_05.png" width="20%">
          <img src="/static/assets/img/cleaner_products/frame_06.png" width="20%">
          <img src="/static/assets/img/cleaner_products/frame_07.png" width="20%">
          <img src="/static/assets/img/cleaner_products/frame_08.png" width="20%">
          <img src="/static/assets/img/cleaner_products/frame_09.png" width="20%">
          <img src="/static/assets/img/cleaner_products/frame_10.png" width="20%">
          <img src="/static/assets/img/cleaner_products/frame_11.png" width="20%">
          <img src="/static/assets/img/cleaner_products/frame_12.png" width="20%">
          <img src="/static/assets/img/cleaner_products/frame_13.png" width="20%">
          <img src="/static/assets/img/cleaner_products/frame_14.png" width="20%">
          <img src="/static/assets/img/cleaner_products/frame_15.png" width="20%">
          <img src="/static/assets/img/cleaner_products/frame_16.png" width="20%">
          <img src="/static/assets/img/cleaner_products/frame_17.png" width="20%">
          <img src="/static/assets/img/cleaner_products/frame_18.png" width="20%">
          <img src="/static/assets/img/cleaner_products/frame_19.png" width="20%">
          <img src="/static/assets/img/cleaner_products/frame_20.png" width="20%">
          <img src="/static/assets/img/cleaner_products/frame_21.png" width="20%">
          <img src="/static/assets/img/cleaner_products/frame_22.png" width="20%">
        </div>

      </div>
      


      {% include 'includes/footer.html' %}


{% endblock content %}